.dropdown {
  position: relative;

  .drop-toggle {
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid #c7cdd4;

    .drop-title {
      font-weight: 600;

      span {
        font-weight: 400;
      }
    }
  }

  .drop-menu {
    position: absolute;
    padding: 10px 0;
    border-left: 1px solid #c7cdd4;
    border-right: 1px solid #c7cdd4;
    border-bottom: 1px solid #c7cdd4;
    background-color: white;
    width: 200px;
    right: 0;

    .drop-item {
      cursor: pointer;
      padding: 5px 20px;

      &:hover {
        background-color: #ccccd4;
      }
    }

    &.active {
      display: block;
    }
  }

  @media only screen and (max-width: 1023px) {
    width: 49%;
    text-align: center;

    .drop-toggle {
      font-size: 14px;
      padding: 10px 10px;
    }

    .drop-menu {
      font-size: 14px;
      width: 150px;
    }
  }
}
