.product-rela {
  width: 100%;
  margin-bottom: 20px;

  &-title {
    margin-bottom: 10px;
    border-top: 1px solid #e2e8f0;

    span {
      display: inline-block;
      background-color: #dcdde1;
      padding: 8px 15px;
      color: #2f3542;
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .carousel-wrapper {
    .rec-carousel {
      .rec-arrow {
        width: 30px;
        height: 30px;
        min-width: 30px;
        line-height: 30px;
        font-size: 15px;
        background-color: white;

        &:hover,
        &:focus:enabled {
          background-color: #2f3542;
        }

        &:disabled {
          background-color: #f1f2f6;
          border-color: #f1f2f6;
          color: #747d8c;
        }
      }

      .rec-slider-container {
        .rec-carousel-item {
          .rela-wrapper {
            cursor: pointer;
            margin: 10px;
            padding: 10px;
            border: 1px solid #e2e8f0;
            transition: all 0.3s;

            .product-image {
              img {
                width: 100%;
              }
            }

            .product-info {
              .product-name {
                min-height: 50px;
              }
            }

            &:hover {
              box-shadow: 0 5px 10px rgb(210, 218, 226);
              transform: translateY(-10px);
            }
          }
        }
      }
    }

    .rec-pagination {
      display: none;
    }
  }
}
