.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  transition: all 0.7s;

  &.scroll {
    background-color: white;
    // border-bottom: 1px solid #fafafa;
    box-shadow: 0 1px 0.1px rgb(200, 214, 229);
  }

  #isHeader {
    .row {
      display: flex;
      align-items: center;
      height: 79px;

      .brand {
        font-weight: bold;
        font-size: 30px;

        .brand-title {
          color: #a29bfe;
          transition: all 0.7s;

          &.title-black {
            color: #2f3542;
          }
        }
      }

      .navbar {
        text-align: right;

        .close-button {
          display: none;
        }

        .nav-link {
          text-transform: uppercase;
          color: #a29bfe;
          font-weight: 600;
          padding: 5px;
          margin: 0 5px;
          transition: all 0.7s;

          &.cart-link {
            position: relative;

            span {
              position: absolute;
              right: -10%;
              top: -25%;
              background: #ea2027;
              border-radius: 50%;
              width: 17px;
              height: 17px;
              line-height: 17px;
              text-align: center;
              font-size: 12px;
              font-weight: 500;
              color: white;
            }
          }

          &.active {
            text-decoration: underline;
          }

          &.title-black {
            color: #2f3542;
          }
        }
      }

      @media only screen and (max-width: 740px) {
        .brand {
          order: 1;
        }

        .navbar {
          order: 3;
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;

          width: 100%;
          background-color: black;

          transform: translateX(100%);
          transition: transform 0.3s ease;

          .close-button {
            display: block;
            color: white;
            text-align: left;
            font-size: 23px;
            cursor: pointer;
            padding: 10px 0 0 15px;
            transition: all 0.3s;

            &:hover {
              transform: translateX(5px);
            }
          }

          .nav-link {
            display: block;
            text-align: center;
            color: white !important;
            font-size: 20px;
            padding: 15px 0;
          }

          &.active {
            transform: translateX(0);
          }
        }

        .bar-icon {
          order: 2;
          cursor: pointer;

          .icon-box {
            font-size: 25px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            transition: all 0.7s;

            .bars {
              display: inline-flex;
              color: #a29bfe;

              &.title-black {
                color: #2f3542;
              }
            }
          }
        }
      }
    }
  }
}
