.footer-fluid {
  background-color: #0f0f0f;

  #isFooter {
    .row:first-child {
      padding: 40px 0;

      .brand {
        a {
          display: inline-block;
          background-color: #a29bfe;
          padding: 5px 10px;
          color: black;
          font-weight: bold;
          font-size: 30px;
          margin-bottom: 5px;
          border-radius: 6px;
          transition: all 0.5s;

          &:hover {
            background-color: #7d5fff;
          }
        }
      }

      .info {
        &-title {
          font-size: 25px;
          color: #a29bfe;
          font-weight: bold;
          text-transform: uppercase;
        }

        .box-info {
          margin-top: 20px;

          p:first-child {
            color: #a29bfe;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 5px;
          }

          p:last-child {
            color: #7e7e7e;
            font-size: 14px;
          }
        }
      }

      .network {
        text-align: right;

        .network-link {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background-color: #a29bfe;
          border-radius: 50%;
          margin: 0 5px;
          transition: all 0.5s;

          svg {
            color: #0f0f0f;
          }

          &:hover {
            background-color: #7d5fff;
          }
        }
      }
    }

    .row:last-child {
      padding: 20px 0;
      border-top: 1px solid #7e7e7e;

      .copyright {
        color: #7e7e7e;
        text-align: center;
        font-size: 14px;

        a {
          margin-left: 5px;
          font-weight: bold;
          color: #a29bfe;
          transition: all 0.5s;

          &:hover {
            color: #7d5fff;
          }
        }
      }
    }

    @media only screen and (max-width: 740px) {
      .brand,
      .info,
      .network {
        text-align: center !important;
        margin: 10px 0;
      }
    }
  }
}
